/*Entire Page*/

body {
    background-color: #8EFAEF;
    padding: 0;
}


/*Header*/

.content {
        width: 1000px;
        margin: 0 auto;
        text-align: inherit;
        
}

header {
    text-align: center;
    background-color: #07C707;
    border-style: double;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-style: italic;   
}


/*Sections*/

section {
    text-align: inherit;
    background-color: #07C707;
    width: 50%;
    margin: 0 auto;
    padding-left:4px;
    border-style: double;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Keep in Touch*/

footer {
    background-color: #07C707;
    width: 30%;
    padding-left: 8px;
    border-style: double;
    margin: 0 auto;
}