/*Entire Page*/

body {
    background-color: #8EFAEF;
}


/*Header*/

header {
    text-align: center;
    background-color: #07C707;
    border-style: double;
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: -10px;
}

h1 {
    font-style: italic;   
}

p {
    text-align: justify;
}

/*Sections*/

section {
    text-align: inherit;
    background-color: #07C707;
    width: 50%;
    margin-left: 50px;
    padding-left:4px;

}

/*Keep in Touch*/

footer {
    background-color: #07C707;
    width: 30%;
    margin-left: 500px;
    padding-left: 8px;
}